.chat_wallpaper_container {
    position: relative;
}

.chat_wallpaper_controls{
    background-color: #fff;
}

.chat_wallpaper_radio {
    padding: 15px 30px;
}

.chat_wallpaper_backgrounds{
    margin-top: 20px;
    background-color: #fff;
    gap: 2px;
    position: relative;
    display: grid;
    grid-template-columns: 33.33% 33.3% 33.33%;
    width: 100%;
}

.chat_wallpaper_background_wrapper{
    height: 290px;
    cursor: pointer;
    position: relative;
}
.chat_wallpaper_background_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chat_wallpaper_background_wrapper_active{
    padding:  10px;
    border: 3px solid #2a9dd5;
}

@media (max-width: 1440px) {
    .chat_wallpaper_background_wrapper_active{
        padding:  5px;
    }
}

@media (max-width: 1024px) {
    .chat_wallpaper_background_wrapper_active{
        padding:  2px;
    }
}