.chat_content{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.chat_content-blurred{
    filter: blur(12px);
}

.chat_content_background{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


