.chat_page_container{
    width: 100%;
    position: relative;
    transition: 0.3s ease-in-out;
}

.chat_page_container2{
    display: flex;
    width: 80%;
}

.chat_background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

br {
    height: 20px;
}
.chat_page_blurred{
    filter: 12px;
}

.chat_page_content{
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.chat_page_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    width: 100%;
    margin-bottom: 5px;
    border-bottom: 2px solid #e5e5e5;
}

.chat_page_header_head {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.chat_page_header_avatar_wrapper {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.chat_page_header_avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chat_page_header_title {
    font-size: 20px;
    font-weight: 600;
}

.chat_page_header_tail {
    display: flex;
    align-items: center;
    column-gap: 20px;
    position: relative;
}

.chat_header_tail_button {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;

}

.chat_header_tail_button:hover {
    background-color: #e5e5e5;
}

.chat_header_tail_icon {
    font-size: 23px;
}

.chat_page_messages{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 84vh;
    padding-right: 37px;
}

.chat_page_messages_content {
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 15px;
    margin: 0 auto;
}


.chat_page_message {
    position: relative;
}

.opossite_message {
    justify-content: flex-start;
}

.self_message {
    justify-content: flex-end;
}


.chat_page_message_content_wrapper{
    max-width: 800px;    
    width: 100%;
    display: flex;
    position: relative;
    margin: 0 auto;
}
.chat_page_message_content{
    max-width: 50%;
    position: relative;
    padding: 5px 75px 5px 5px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
}



.opossite_message .chat_page_message_content {
    background-color: #fff;

}

.self_message .chat_page_message_content {
    background-color: #eeffde;
}

.chat_page_message {
    width: 100%;
    display: flex;
    padding: 5px 0;
    transition: 0.2s ease-in-out;
}

.chat_page_message_title {
}

.chat_page_message_text {
}

.message_icon {  
    display: block;
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 10px;
}

.message_icon-read{
    color: #2a9dd5;
}

.chat_page_footer{
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 100%;
    column-gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    align-items: end;
    background-color: #fff;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    overflow: hidden;
}

.chat_page_footer_input {
    padding: 10px;
    min-height: 45px;
    border: none;
    outline: none;
    width: 90%;
    resize: none;
    overflow: hidden;
    word-wrap: break-word;
}

.chat_page_button {
    background-color: #fff;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;

    cursor: pointer;
}


.chat_page_button_icon{
    color: #2a9dd5;
    font-size: 20px;
}

.chat_page_blurred{
    filter: blur(12px);
}

.chat_page_message_time{
    position: absolute;
    bottom: 5px;
    right: 15px;
    font-size: 12px;
    color: gray
}

.context_menu_wrapper {
    position: absolute;
    z-index: 10;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity visibility 0.2s ease-in;
}

.context_menu_wrapper_active{
    opacity: 1;
    visibility: visible;
}

.contexed_message{
    background-color: #0000001e;
}

.footer_selected_wrapper{
    padding: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.footer_selected_wrapper_head, .footer_selected_wrapper_tail{
    display: flex;
    align-items: center;
}

.footer_selected_button{
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 10px;
    width: 40px;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.footer_selected_button:hover {
    background-color: #e5e5e5;
}

.footer_specified_text{
    font-size: 20px;
    font-weight: 500;
}

.red-icon{
    color: red;
}

.active_selected_checkbox{
    background-color: #00c73e;

}

.selected_checkbox {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.inactive_selected_checkbox {
}

.active_selected_checkbox_icon{
    font-size: 16px;
    color: #fff
}

.self_message .selected_checkbox {
    right: -50px;
}

.opossite_message .selected_checkbox {
    left: -50px;
}

.checkbox_wrapper{
    transition: 0.250s ease-in-out;   
}

.active_checkbox_wrapper{
    opacity: 1;
    visibility: visible;
}

.inactive_checkbox_wrapper{
    opacity: 0;
    visibility: hidden;
}


.blocked_message{
    font-size: 20px;
    text-align: center;
    padding: 15px;
    color: red;
    font-weight: 600;
    opacity: 0.3;
    background-color: #ffffff8e;
    width: 100%;
    user-select: none;
    cursor:not-allowed
}
.group_messages{
    position: relative;
}

.message_date {
    background-color: #dadada88;
    color: #f8f8f8;
    top: 0;
    margin: 10px auto;
    font-weight: 500;
    position: sticky;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    font-size: 16px;
    width: fit-content;
}