.chat_page_container{
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
}

.chat_page_container2{
    display: flex;
    width: 100%;
    height: 100%;
    transition: .3s ease-in-out;
}

.chat_background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

br {
    height: 20px;
}
.chat_page_blurred{
    filter: 12px;
}

.chat_page_content{
    width: 100%;
    position: relative;
    margin: 0 auto;
    flex: 1;
}

.chat_page_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    width: 100%;
    border-bottom: 2px solid #e5e5e5;
}

.chat_page_header_head {
    display: flex;
    align-items: center;
    column-gap: 20px;
    cursor: pointer;
    align-items: center;
    padding: 0 20px;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
}

.clickable_header{
    display: flex;
    column-gap: 20px;
    cursor: pointer;
    align-items: center;
    padding: 0 20px;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
}

.clickable_header:hover {
    background-color: #e0e0e075;
}

.chat_page_header_avatar_wrapper {
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.chat_page_header_avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chat_page_header_title {
    font-size: 20px;
    font-weight: 600;
}

.chat_page_header_tail {
    display: flex;
    align-items: center;
    column-gap: 20px;
    position: relative;
}

.chat_header_tail_button {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;

}

.chat_header_tail_button:hover {
    background-color: #e5e5e5;
}

.chat_header_tail_icon {
    font-size: 23px;
}

.chat_page_messages{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 86vh;
}

.chat_page_messages_content {
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 15px;
    margin: 0 auto;
}


.chat_page_message {
    position: relative;
}

.opossite_message {
    justify-content: flex-start;
}

.self_message {
    justify-content: flex-end;
}


.chat_page_message_content_wrapper{
    max-width: 1000px;    
    width: 100%;
    display: flex;
    position: relative;
    margin: 0 auto;
    align-items: flex-end;
}
.chat_page_message_content{
    max-width: 70%;
    position: relative;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    padding: 5px;
    display: flex;
    flex-direction: column;
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 10px;

}



.opossite_message .chat_page_message_content {
    background-color: #fff;

}



.chat_page_message_footer{
    display: flex;
    column-gap: 5px;
    align-items: center;

}
.self_message .chat_page_message_content {
    background-color: #eeffde;
}

.chat_page_message {
    width: 100%;
    display: flex;
    padding: 20px 5px;
    transition: 0.2s ease-in-out;
}

.chat_page_message_title {
}

.chat_page_message_text {
    display: flex;
    column-gap: 5px;
    justify-content: space-between;
    align-items: flex-end;
}

.message_icon {  
    display: block;
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 10px;
}

.message_icon-read{
    color: #2a9dd5;
}

.chat_page_footer{
    position: absolute;
    left: 50%;
    padding: 0 20px;
    transform: translateX(-50%);
    display: flex;
    width: 100%;
    column-gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    align-items: end;

}

.chat_page_footer_content{
    background-color: #fff;
    width: 100%;
}

.chat_page_footer_input_wrapper{
    min-height: 50px;
    height: 50px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 15px;
    background-color: #fff;
    align-items: end;
    position: relative;
    width: 90%;
    padding: 10px;
    display: flex;
    align-items: center;
}

.chat_page_footer_input {
    height: 100%;
    border: none;
    width: 100%;
    outline: none;
    overflow-y: scroll;
    resize: none;
    overflow: hidden;
    word-wrap: break-word;
}

.chat_page_button {
    background-color: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;

    cursor: pointer;
}


.chat_page_button_icon{
    color: #2a9dd5;
    font-size: 20px;
}

.chat_page_blurred{
    filter: blur(12px);
}

.chat_page_message_time{
    margin-right: 15px;
    font-size: 12px;
    color: gray
}

.context_menu_wrapper {
    position: absolute;
    z-index: 10;
    right: 0;
}

.context_menu_wrapper_active{
    opacity: 1;
    visibility: visible;
}

.contexed_message{
    background-color: #0000001e;
}

.footer_selected_wrapper{
    padding: 10px;
    display: flex;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
}

.footer_selected_wrapper_head, .footer_selected_wrapper_tail{
    display: flex;
    align-items: center;
}

.footer_selected_button{
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 10px;
    width: 40px;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.footer_selected_button:hover {
    background-color: #e5e5e5;
}

.footer_specified_text{
    font-size: 20px;
    font-weight: 500;
}

.red-icon{
    color: red;
}

.active_selected_checkbox{
    background-color: #00c73e;

}

.selected_checkbox {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}



.inactive_selected_checkbox {
}

.active_selected_checkbox_icon{
    font-size: 16px;
    color: #fff
}

.self_message .selected_checkbox {
}

.opossite_message .selected_checkbox {
}

.checkbox_wrapper{
    transition: 0.250s ease-in-out;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.active_checkbox_wrapper{
    opacity: 1;
    visibility: visible;
}

.inactive_checkbox_wrapper{
    opacity: 0;
    visibility: hidden;
}


.blocked_message{
    font-size: 20px;
    text-align: center;
    padding: 15px;
    color: red;
    font-weight: 600;
    opacity: 0.3;
    background-color: #ffffff8e;
    width: 100%;
    user-select: none;
    cursor:not-allowed
}
.group_messages{
    position: relative;
}

.message_date {
    background-color: #85858588;
    color: #f8f8f8;
    top: 5px;
    margin: 10px auto;
    z-index: 6;
    font-weight: 500;
    position: sticky;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    font-size: 16px;
    width: fit-content;
}

.chat_page_delete_option{
    color: red;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.chat_page_delete_option:hover {
    background-color: #e0e0e0;
}

.chat_page_delete_option-blue {
    color: rgb(0, 119, 255);
}

.chat_page_delete_modal{
    margin-top: 20px;
}


.typing_animation_container{
    display: flex;
}

.typing_animation {
    width: 8px;
    height: 8px;
    background-color: rgb(0, 132, 255);
    border-radius: 50%;
    transition: 0.2s ease-in-out;
    animation: leaves, leaves2;
    animation-delay: 1s, 1s;
    animation-duration: 0.7s , 0.7s;
    animation-iteration-count: infinite, infinite;
}

.online{
    color: #2a9dd5;
}



@keyframes leaves {
    0% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(1.0);
    }
}


@keyframes leaves2 {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(0.7);
    }
}

.typing_container {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.online-point{
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #2a9dd5;
}

.avatar_double{
    position: relative;
}

.message_author_avatar_wrapper {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 10px;
}

.message_author_avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.group_message {
}

.group_opossite{
    margin-left: 70px;
}

.group_mine {
    margin-right: 70px;
}

.author_name {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}


.system_message{
    padding: 5px 10px;
    border-radius: 20px;
    max-width: 350px;
    margin: 0 auto;
    background-color: #00000059;
    color: #fff;
    text-align: center;
    margin: 20px auto;
}

.join_button{
    width: 100%;
    color: #2a9dd5;
    text-transform: uppercase;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 50px;
    border: none;
    transform: translateX(-50%);
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    overflow: hidden; 
    transition: 0.2s ease-in-out;
}

.join_button:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}

.menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 360px;
}


.photo_modal{
    padding-top: 20px;
    width: 600px;
    min-width: 300px;
}

.photo_modal_image_wrapper {
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    height: 250px;
    margin: 10px 0;
}

.photo_modal_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo_modal_footer{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.photo_modal_footer_input{
    width: 90%;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px 5px;
}

.photo_modal_title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
}


.chat_page_message_content_image{
    padding: 0;
}


.image_message{
    width: 100%;
    height: 100%;
}

.image_message_wrapper {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    background-color: #fff;
}
time
.chat_page_message_content_image{
    max-width: 50%;
    position: relative;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
    padding: 0;
}

.chat_page_message_content_texed{
    background-color: #eeffde;
}

.chat_page_message_text_image{
    padding: 5px;
}

.reply_message{
    border-radius: 10px;
    padding: 5px;
    font-weight: 500;
    color: #383838;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    display: block;
    cursor: pointer;
}

.image_time {
    position: absolute;
    bottom: 10px;
    right: 5px;
    background-color: #0000008e;
    color: #fff;
    font-weight: 500;
    padding: 5px 7px;
    border-radius: 10px;
}

.group_message_wrapper{
    width: 100%;
}

.chat_page_message_author{
    margin-bottom: 5px;
}

.chat_page_message_author_image{
    padding: 5px;
}

.group_message{
}


.sidebar_control_btn{
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
    justify-content: center;
}

.sidebar_control_btn_bar {
    display: block;
    height: 2px;
    width: 20px;
    background-color: #000;
    transition: 0.2s ease-in-out;
}




.sidebar_control_btn_active .sidebar_control_btn_bar:first-child{
    transform: rotate(43deg) translate(5px, 6px);
    
}

.sidebar_control_btn_active .sidebar_control_btn_bar:nth-child(2){
    transform: rotate(-42deg);
}

.sidebar_control_btn_active .sidebar_control_btn_bar:last-child{
    opacity: 0;
    visibility: hidden;
}


.sidebar_control_btn_inactive .sidebar_control_btn_bar:first-child{
    transform: rotate(-45deg) translate(-4px, -2px);
    width: 15px;
}

.sidebar_control_btn_inactive .sidebar_control_btn_bar:nth-child(2){
}

.sidebar_control_btn_inactive .sidebar_control_btn_bar:last-child{
    opacity: 1;
    width: 15px;
    transform: rotate(45deg) translate(-4px, 2px);
    visibility: visible;
}

.chat_page_header_searches{
     background-color: #fff;
     padding: 10px;
     display: flex;
     align-items: center;
     justify-content: center;
}

.chat_page_header_searches_back_btn{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat_page_header_searches_back_icon{
    font-size: 20px;
    color: #777;
}

.chat_page_header_searches_input_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex: 1;
    padding: 5px;
    border-radius: 15px;
}

.chat_page_header_searches_input{
    flex: 1;
    outline: none;
    border: none
}

.chat_page_header_searches_search_icon{
    font-size: 16px;

}

.chat_page_footer_search_container {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.chat_page_header_searches_input_wrapper_active .chat_page_header_searches_search_icon{
    color: #2a9dd5;
}

.chat_page_header_searches_input_wrapper_inactive .chat_page_header_searches_search_icon{
    color: #777;
}

.chat_page_footer_search_content{
    background-color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.chat_page_footer_search_navigation {
    display: flex;
    column-gap: 20px;
}
.chat_page_footer_search_counts {
    color: #777;
    font-size: 16px;
}
.footer_arrow_icon {
    font-size: 20px;
    color: #777;
}

.chat_page_header_searches_input_wrapper_active {
    border: 2px solid #2a9dd5;
    background-color: #fff;
}

.chat_page_header_searches_input_wrapper_inactive {
    background-color: #e5e5e5;
    border: 2px solid #e5e5e5;
}


.chat_page_header_searches_input_wrapper_inactive input {
    background-color: #e5e5e5;

}

@media (max-width: 1440px){
    .message_date {
        padding: 5px;
        font-size: 14px;
    }

    .chat_page_header{
        padding: 5px;
    }

    .chat_page_header_title{
        font-size: 18px;
    }

    .chat_header_tail_icon{
        font-size: 18px;
    }

    .chat_header_tail_button{
        width: 30px;
        height: 30px;
    }
    
}

@media (max-width: 1024px) {
    .message_author_avatar_wrapper{
        width: 40px;
        height: 40px;
    }


}

@media (max-width: 900px){
    .sidebar_control_btn{
        display: flex;
    }

}

@media (max-width: 600px){
    .chat_page_footer_input_wrapper{
        min-height: 45px
    }

    .chat_page_footer{
        column-gap: 5px;
        padding: 0 5px;
    }

    .chat_page_button{
        width: 45px;
        height: 45px;
    }
}