.general_settings_section_title{
    font-size: 25px;
    color: #777;
    font-weight: 600;
    margin-bottom: 50px;
}

.general_settings_section_container{
    background-color: #fff;
    padding: 20px;
    width: 100%;
}

.general_settings_section {
    display: flex;
    flex-direction: column;
    height: 93vh;
    column-gap: 20px;
    justify-content: space-between;
}