.main_layout{
    height: 100vh;
    display: flex;
    overflow: hidden;

}

::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #9494948f;
    border-radius: 10px;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }

  .sidebar_container{
    width: 700px;
    max-width: 700px;
    min-width: 250px;
    transition: 0.3s ease-in-out;
    position: relative;
  }

  .outlet_container{
    width: 50%;
    flex: 1;
    overflow-x: hidden;
  }

  .resize_col{
    height: 100%;
    width: 2px;
    right: 0;
    top: 0;
    z-index: 10;
    position: absolute;
    cursor:e-resize;
  }


  @media (max-width: 1540px) {
    .sidebar_container{
      max-width: 450px;
      width: 450px;
    }
  }

  @media (max-width: 1024px) {
    .sidebar_container{
      max-width: 400px;
      width: 400px;
    }
  }