.main_layout{
    height: 100vh;
    display: flex;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #9494948f;
    border-radius: 10px;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }

  .sidebar_container{
    max-width: 800px;
    min-width: 250px;
    position: relative;
    width: 1000px;
  }

  .outlet_container{
    width: 50%;
    flex: 1;
  }

  .resize_col{
    height: 100%;
    width: 2px;
    right: 0;
    top: 0;
    z-index: 10;
    position: absolute;
    cursor:e-resize;
  }


  @media (max-width: 1440px) {
    .sidebar_container{
     max-width: 450px;
    }
  
  }