.settings_header_dropdown{

}

.settings_info_container{
    margin-bottom: 20px;
}

.settings_container_avatar-wrapper{
    position: relative;
    width: 100%;
    height: 600px;
}

.settings_container_avatar{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.settings_container_avatar_name{
    position: absolute;
    bottom: 20px;
    font-weight: 700;
    color: #fff;
    font-size: 24px;
    left: 20px;
}

.settings_options{
    background-color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.settings_option{
    background-color: #fff;
    display: flex;
    column-gap: 30px;
    align-items: center;
    transition: 0.2s ease-in-out;
    padding: 10px 15px;
}

.settings_option:hover {
    background-color: #f1f1f1;
    border-radius: 10px;
    cursor: pointer;
}

.settings_option_text_title{
    font-size: 22px;
}

.settings_option_text_description{
    font-size: 18px;
    color: rgb(173, 173, 173);
    margin-top: 5px;
}

.settings_option_icon{
    font-size: 30px;
    color: rgb(175, 175, 175);
}

.settings_container{
    width: 100%;
    min-height: 100vh;
    background-color: #ebebeb;
}


@media (max-width: 1540px) {
    .settings_option_icon {
        font-size: 25px;
    }
    .settings_option_text_title{
        font-size: 18px;
    }
    
    .settings_option_text_description{
        font-size: 16px;
    }

    .settings_container_avatar-wrapper{
        height: 500px;
    }

}


@media (max-width: 1024px){
    .settings_container_avatar-wrapper{
        height: 500px;
    }
}

@media (max-width: 800px){
    .settings_container_avatar-wrapper{
        height: 400px;
    }
}