.app_range_title{
    font-size: 24px;
    color: #000;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 15rem;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: #808080;
    height: 7px;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 30%;
    background: #04375c;
    box-shadow:  -400px 0 0 400px #007ed8;
}

.app_range_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}


.app_range_value {
    font-size: 24px;
    color: #808080;
}



/* Checkbox Styles ! */

.app_checkbox_container{
    display: flex;
    column-gap: 20px;
    align-items: center;
    margin-bottom: 50px;
    cursor: pointer;
}   


.app_checkbox_outer_circle{
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.app_checkbox_inner_circle{
    width: 12px;
    border-radius: 50%;
    height: 12px;
}


.app_checkbox_outer_circle_active{
    border: 3px solid #007ed8;
}

.app_checkbox_outer_circle_active .app_checkbox_inner_circle {
    background-color: #007ed8;
}

.app_checkbox_outer_circle_inactive .app_checkbox_inner_circle {
    background-color: #fff;
}

.app_checkbox_outer_circle_inactive{
    border: 3px solid rgb(226, 226, 226);
}

.app_checkbox_title{
    font-size: 24px;
    font-weight: 500;
}

.app_checkbox_decription{
    font-size: 18px;
    color: #777;
}

.app_radio_container {
    display: flex;
    column-gap: 30px;
    align-items: center;
}


.app_radio_radio[type="checkbox"] {
    display: grid;
    place-content: center;
    appearance: none;
    border: 2px solid #007ed8;
    padding: 5px;
    
  }
  
.app_radio_radio[type="checkbox"]::before {
    content: "";
    width: 15px;
    height: 15px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: #007ed8;    
}

  
.app_radio_radio[type="checkbox"]:checked::before {
    transform: scale(1);
}

.app_radio_title {
    font-size: 23px;
}

.app_input_label_title {
    font-size: 16px;
    margin-bottom: 5px;
}

.app_input {
  width: 100%;
  padding: 15px 20px;
  border-radius: 15px;
  border: 1px solid #e5e5e5;
  outline: none;
  margin-top: 5px;
  font-size: 18px;
}
  
.app_input:hover {
  border: 1px solid #2a9dd5;
}

  .app_input:focus {
    border: 2px solid #2a9dd5;
  }
.app_input_wrapper{
    position:
     relative;
}

.app_input_limit{
    position: absolute;
    bottom: -15%;
    background-color: #fff;
    right: 20px;
    z-index: 30;
    font-size: 15px;
    text-align: center;
    width: 30px;
}


.primary_button {
    width: 120px;
    padding: 10px 25px;
    border-radius: 10px;
    background-color: #2a9dd5;
    border: none;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    display: block;
}

.app_notification_container{
    z-index: 120;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #414141;
    width: fit-content;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    column-gap: 10px;
    align-items: center;
    transition: 0.2s ease;
}

.app_notification_icon{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
}

.app_notification_inactive {
    opacity: 0;
    visibility: hidden;
}


.app_notification_active {
    opacity: 1;
    visibility: visible;
}




.app_notification_message{
    color: #fff;
    font-size: 20px;
}

.hidden_laoder_container{
    position: absolute;
    height: 100%;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.hidden_loader {
    width: 48px;
    height: 48px;
    border: 5px solid #2a9dd5;
    z-index: 12;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.app_modal {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    z-index: 100;
    height: 100vh;
    background-color: #000000b7;
    transition: 0.1s ease-in-out;
}


.app_modal_content {
    background-color: #fff;
    position: relative;
    border-radius: 15px;
    padding: 10px;
    transition: 0.2s ease-in-out;
    transform-origin: center;
}

.close_modal {
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    padding: 10px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.close_modal:hover {
    background-color: #dddddd;
    
}

.close_modal_icon{
    font-size: 18px;
    color: #575757;

}

.app_modal-active{
    opacity: 1;
    visibility: visible;
}

.app_modal-inactive{
    opacity: 0;
    visibility: hidden;
}

.app_modal-active .app_modal_content{
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.app_modal-inactive .app_modal_content{
    transform: scale(0.2);
    opacity: 0;
    visibility: hidden;
}